.profileIcon {
    border-radius: 200px;
    padding: 1em 1em;
    color: white;
    border: none;
    cursor: pointer;
    background: #73297b;
    background: linear-gradient(0deg, rgba(115, 41, 123, 0.9) 10%, rgb(81, 40, 138, 0.9) 100%);
    font-size: 16px;
    transition: all 0.2s ease;
}

.profileIcon:hover {
    opacity: 1;
    background-size: auto;
    box-shadow: 0 0 20px -2px rgba(195, 111, 199, .5);
    transition: all 0.2s ease;
    transform: translate3d(0, -0.5px, 0) scale(1.01);
}

.menu {
    position: relative;
    width: 6em;
}

.dropdownButton {
    background: rgb(115, 41, 123);
    background: linear-gradient(0deg, rgb(115, 41, 123, 0.9) 10%, rgba(0,0,0,1) 39%);
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    color:  #242424;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    border: 1px solid #ddd;
    display: none;
}

.menu:hover .dropdownMenu {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

li {
    padding: 10px;
    transition: all linear 0.2s;
}

li:hover {
    background: rgb(115, 41, 123);
    background: linear-gradient(0deg, rgba(115, 41, 123, 0.9) 10%, rgba(83, 41, 140, 0.9) 100%);
    transition: all linear 0.2s;
    cursor: pointer;
    color: #fff;
}